*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div {
  /* display: flex; */
  flex: 1;
  /* position: relative;
  min-height: 100vh; */
}

.nav-header {
  background-color: rgb(51, 131, 236);
  padding: 0 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo > a {
  color: rgb(223, 228, 239);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
}

.navigation-items > a {
  color: ghostwhite;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: 0.4s ease-in-out;
  padding: 0 20px;
}

.navigation-items > a:hover {
  color: rgb(8, 153, 244);
}

.hamburger {
  display: none;
  font-size: 20px;
  font-weight: 800;
  color: white;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    cursor: pointer;
  }
  .hamburger #closeHam {
    display: none;
  }
  .navigation-items {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 58px;
    background-color: rgb(177, 158, 243);
    width: 100%;
    /* height: calc(100vh - 58px); */
    padding-top: 60px;
    gap: 10vh;
  }
  .nav-header {
    padding: 0 20px;
  }
}

/* navbar css end */

.main-content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0 200px;
  border: 1px solid red;
}

main {
  padding-bottom: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 2em 4em;
  width: 100%;
  height: 60vh;
  
}
.myCard {
  width: 50%;
  height: 50vh;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: 1px solid #ff0404;
  padding: 4em;
}

.section-1 {
  /* left: 0; */
}
.section-2 {
  /* right: 0; */
}

@media screen and (max-width: 768px) {
  .main-content-1 {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }
  .section-2 {
    display: none;
  }
}
/* main-content-1 css end here */

.main-content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  padding: 0 200px;
  /* position: absolute; */
}

@media screen and (max-width: 768px) {
  .main-content-2 {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: start; */
    padding: 0 20px;
    flex-wrap: wrap;
  }
}
.projects-section{
  
  padding-bottom: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 2em 4em;
  width: 100%;
  height: 100vh;
}
.cards{
  /* width: 100vw; */
  /* height: 50vh; */
  height: 50vh;
  width: 100vw;
  border: 3px solid green;
  display: flex;
  padding: 1em;
  flex-wrap: wrap;


}
.card{
  border: 1px solid red;
  width: 30vh;
  height: 30vh;
  margin: 0.4em;
}
@media screen and (max-width: 768px) {
  .cards{
    width: 100%;
    border: 3px solid green;
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex-wrap: wrap;
  }
  .main-div{
    flex: 1;
  }
}
.footer-content {
  /* width: 100vw; */
  /* position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: cadetblue; */

  min-height: 50px;
  background: rgb(165, 162, 252);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer-content > div {
  border: 0px solid red;
  width: 25%;
}

@media screen and (max-width: 1325px) {
  .footer {
    padding: 4em 0;
    background-color: antiquewhite;
  }
}

@media screen and (max-width: 768px) {
  .main-content-2 {
    height: 80vh;
    width: 100%;
    /* background-color: blue; */
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
  }
  .cards {
    width: 30%;
    padding: 0;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }
}
